{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'registration/main.css' %}">
</head>
<body>
    <form method="post">
      {% csrf_token %}
    <div class="signBox">
        <div class="hero">
            <div class="box">
                <h1>Войти</h1>
                <p>Введите логин</p>
                <input type="text" name="username">
                <p>Пароль</p>
                <input type="password" name="password">
            </div>
            <button>Войти</button>

        </div>
    </div>
        </form>
    <script>
        document.body.style.backgroundColor = "#00B358"; // Замените на нужный вам цвет
    </script>
</body>
</html>