{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все курсы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 20px;
        }
        .course-card {
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out;
        }
        .course-card:hover {
            transform: translateY(-5px);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Все курсы</h1>
        <div class="row">
            {% for course in courses %}
            <form method="post" action="{% url 'course_list' %}">
                {% csrf_token %}
                <div class="col-md-4 mb-4">
                    <div class="course-card p-3">
                        <h3>{{ course.name }}</h3>
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                        <p><strong>Автор:</strong> {{ course.author }}</p>
                        <p><strong>Преподаватель:</strong> {{ course.teacher }}</p>
                        <p><strong>Язык:</strong> {{ course.language }}</p>
                        <p><strong>Прогресс:</strong> {{ course.progress }}</p>
                    <button id="sub"  class="btn btn-primary">Подписаться</button></a>
                    </div>
                </div>
                </form>
            {% empty %}
                <p>Курсы пока не добавлены.</p>
            {% endfor %}

        </div>
    <div class="container">
        <h1 class="my-4">Курсы на которые подписан</h1>
        <div class="row">
            {% for course in my_crs %}
            <div class="col-md-4 mb-4">
            <div class="course-card p-3">
                <h3>{{ course.name }}</h3>
                <p><strong>Автор:</strong> {{ course.author }}</p>
                <p><strong>Преподаватель:</strong> {{ course.teacher }}</p>
                <p><strong>Язык:</strong> {{ course.language }}</p>
                <p><strong>Прогресс:</strong> {{ course.progress }}</p>
                {% endfor %}
            </div></div>
    </div>
    </div>
</body>
</html>
