<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курс!!!</title>
    href="https://codemirror.net/lib/codemirror.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>
<script src="https://codemirror.net/mode/python/python.js"></script>
<style>
  .CodeMirror {
    border: 1px solid #eee;
    height: 300px;
  }
</style>
</head>
<body>
    <h1>{{courses.teacher}}</h1>
<h1>{{courses.name}}</h1>
<h1>{{courses.progress}}</h1>
<h1>{{courses.author}}</h1>
<h1>Python Online Compiler</h1>

<textarea id="code"></textarea>
<button id="run">Run</button>
<div id="output"></div>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode: "python",
    lineNumbers: true
  });

  document.getElementById('run').addEventListener('click', function() {
    const code = editor.getValue();
    fetch('/compile/', { // Запрос к Django backend
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ code: code })
    })
    .then(response => response.json())
    .then(data => {
      document.getElementById('output').innerText = data.result || data.error;
    });
  });
</script>
</body>
</html>